@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* font-family: "Poppins", sans-serif; */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.active {
  background-color:  #7e3262;
   /* rgb(109, 17, 75); */
  border-radius: 5px;
} 
.navbar {
  background-color: #37012a;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  line-height: 3vh;
  display: flex;
  z-index: 1;
  text-align: center;
}
.mt {
  color: #ffffff;
}
.learn {
  color: #ffff00;
}
.logo {
  font-size: 27px;
  margin-right: auto;
  margin-left: 34px;
  padding-top: 23px;
}

/* Search field style*/
.box{
  margin-left: -16rem;
  padding: 0rem 7rem 0.6rem 0.4rem;
  border: 1px solid #37012a ;
  border-radius: 3px;
  align-items: center;
}
.search{
    /* position: relative; */
    width: 64px;
    height: 24px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: lighter;
    color: transparent;
    border: 0.5px solid #ffff;
    transition: width 300ms, background-position 300ms;
    overflow: hidden;
    /* background: url(search-bold.svg) no-repeat transparent; */
    background-size: 40px;
    background-position: 45% 50%;
    top: -0.2rem;
}
.search:hover {
  cursor: pointer;
  border: 0.1px solid #37012a;
  /* background: url(search-bold.svg) no-repeat transparent; */
  background-size: 40px;
  background-position: 45% 50%;
 
}

.search:focus, .search:not(:placeholder-shown) {
  max-width: 300px;
  width: 100%;
  cursor: text;
  color: #ffffff;
  padding-left: 30px;
  outline: none;
  transition: width 500ms, background-position 300ms;
  border: 0.5px solid #ffff;
  background-color: transparent;
  /* background: url(search-bold.svg) no-repeat; */
  background-size: 40px;
  background-position: 10px 50%;
}

/* end of field style */

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 59%;
  margin: 21px;
  padding-left: 56px;
  float: left;
  margin-left: 24rem;
}

.nav-links li {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  padding: 0 30px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
.btn {
  /* margin-left: auto; */
  border: 0.5px solid #ffffff ;
  border-radius: 2px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  width: max-content;
  padding: 0px 10px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-size: 20px;
}
.mobile-menu-icon {
  display: none;
}

/* @media screen and (width<675px) */
@media screen and (width < 700px) {
  .navbar {
    background-color:#37012a ;
    z-index: 1;
  }
  .nav-links {
    display: none;
  }
  /* li:hover {
    background-color: rgb(163, 163, 26);
    border-radius: 12px;
  } */
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    left: 0;
    top: 100%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #4d0f3d;
    padding-bottom: 2rem;
  }
  .active {
    background-color: yellow;
    border-radius: 8px;
  }
  .btn {
    margin: 22px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 0 10px;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  ul li {
    text-transform: uppercase;
    padding: 18px;
    width: 100%;
    word-spacing: 72%;
    /* line-height: 23%; */
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: hsl(0, 0%, 100%);
    /* background-color: rgb(95, 16, 16); */
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 23px;
  }

  /* style for search */

  
}


/* tablet view */

@media screen and (min-device-width:768px) and (max-device-width: 1200px) {
  .navbar {
   background-color:#37012a ;
   z-index: 1;
   /* padding: -3rem 0 -3rem 0; */
 }
 .nav-links {
   display: flex;
   margin-left: 29px;
 }
 /* li:hover {
   background-color: rgb(163, 163, 26);
   border-radius: 12px;
 } */
 /* .nav-links-mobile {
   position: absolute;
   display: block;
   list-style: none;
   left: 0;
   top: 100%;
   transition: all 0.5s ease-in-out;
   width: 100%;
   background-color: #4d0f3d;
   padding-bottom: 2rem;
 } */
 .active {
   /* background-color: yellow; */
   border-radius: 8px;
   padding: -1rem -2rem -1rem -2rem;
 }
 .btn {
   /* margin: 22px; */
   margin: -0.5rem 0rem 2rem 0rem;
   border-radius: 2px;
   color: #ffffff;
   font-size: 16px;
   padding: 0 10px;
   justify-content: center;
   cursor: pointer;
   text-transform: uppercase;
   text-decoration: none;
 }
 ul li {
   text-transform: uppercase;
   padding: 18px;
   width: 100%;
   word-spacing: 72%;
   transition: all 0.5s ease-in-out;
   text-align: center;
   color: #ffffff;
 }
 .box{
  margin-left: -23rem;
  padding: 0rem 7rem 0.6rem 0.4rem;
  border: 1px solid #37012a ;
  border-radius: 3px;
  align-items: center;
}
.search{
  display: none;
  width: 64px;
  height: 24px;
  border-radius: 8px;
  padding: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 15px;
  font-weight: lighter;
  color: transparent;
  border: 0.5px solid #ffff;
  transition: width 300ms, background-position 300ms;
  overflow: hidden;
  background-size: 40px;
  background-position: 45% 50%;
  top: -0.2rem;
}


 /* .mobile-menu-icon {
   position: absolute;
   display: block;
   right: 20px;
   color: #ffffff;
   cursor: pointer;
   margin-top: 23px;
 } */
}




